{% extends 'base.html' %}

{% block content %}
<div class="tela-login">
    <h1>Kanban</h1>
    <p>Entre na sua conta</p>

    <form method="POST" autocomplete="off">
        {% csrf_token %}
        
        <input type="text"
               name="login_user"
               placeholder="Usuário ou Email"
               autocomplete="off">

        <div class="input-wrapper" style="position: relative;">
            <input type="password"
                   name="login_pass"
                   id="id_password"
                   placeholder="Senha"
                   autocomplete="new-password"
                   style="margin-bottom: 0;"> <i class="fa-solid fa-eye toggle-password" 
               style="position: absolute; right: 75px; top: 37%; cursor: pointer; color: #666; font-size: 18px;"></i>
        </div>

        <button type="submit" style="margin-top: 25px;">Entrar</button>
    </form>
    
    <a href="/accounts/password_reset">Esqueci minha senha</a><br>
    <a href="/register/">Não possui conta? Criar agora</a>
</div>
{% endblock %}