<div class="offcanvas offcanvas-start" tabindex="-1" id="menuLateral">

  <div class="offcanvas-header">
    <h5>Menu</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
  </div>

  <div class="offcanvas-body">

    <button class="btn btn-primary w-100 mb-2"
        onclick="abrirNovoCardGlobal()">
        ➕ Novo Card
    </button>

    <button class="btn btn-outline-secondary w-100 mb-2">
        📅 Filtros
    </button>

    <button class="btn btn-outline-danger w-100">
        🚪 Sair
    </button>

  </div>

</div>